
.my-button {
    -fx-background-color: #0A4969;
    -fx-text-fill: white;
    -fx-background-radius: 3;

}

.my-button:hover {
    -fx-background-color: white;
    -fx-text-fill: #08344C;
    -fx-border-width: 2;
}

#exit:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.button{
    -fx-cursor: hand;
}

